body{
	background-image: url("hiking.jpg");
	background-size: cover;
}
h1{
	color: white;
	text-transform: capitalize;
	font-size: 80px;
	letter-spacing: 1.5px;
	text-align: center;
	font-family: sans-serif;
}
.line1 h6{
	color: white;
	font-size: 18px;
	font-family: sans-serif;
	text-align: center;
	letter-spacing: 1.5px;
	padding-top: 20%;
	font-weight: 500;
}
.line2 h6{
	color: white;
	font-size: 18px;
	font-family: sans-serif;
	text-align: center;
	letter-spacing: 0.9px;
	line-height: 1px;
	font-weight: 500;
}
.button1 p{
	text-align: center;
	border: 2.5px solid white;
	font-size: 22px;
	color: white;
	text-transform: uppercase;
	float: left;
    margin-left: 38%;
    margin-right: 12px;
    padding: 10px 20px 10px 20px;
}
.button2 p{
	text-align: center;
	border: 2.5px solid white;
	font-size: 22px;
	color: white;
	text-transform: uppercase;
	float: left;
	padding: 10px 20px 10px 20px;
}